@import "../../theme/variables.scss";

.blockQuote {
  padding: 60px;
  border: none;
  margin-bottom: 50px;
  color: #ffffff;
  text-align: left;
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, black 0%, #393746 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, black 0%,#393746 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, black 0%,#393746 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= black, endColorstr='#393746',GradientType=0 ); /* IE6-9 */
  blockquote {
    padding: 10px 40px 40px 40px;
  }
  button {
    border: none;
    background: #ef494f;
    color: #fff;
    font-size: 22px;
    padding: 14px 40px;
    font-weight: 100;
    cursor: pointer;
  }
}

.mainWrapper {
  background-color: #ffffff;



  .prodCourses {
    text-align: center;
  }
}


